{% extends 'base.html.twig' %}

{% block title %}Hello ToyRequestController!{% endblock %}

{% block body %}
    <section class="py-5 container-lg bg-light shadow-sm rounded">
        {{ form(form) }}
    </section>   
{% endblock %}
